<h1>Bienvenido a la lista de productos!</h1>
<table class="styled-table">
    <thead>
        <td>Titulo</td>
        <td>Descripcion</td>
        <td>Categoria</td>
        <td>Precio</td>
        <td>Stock</td>
        <td>Codigo</td>
        <td>Status</td>
        <td>ID</td>
    </thead>
    {{#each productos}}
        <tr>
            <td>{{this.title}} 
            <td>{{this.description}} </td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.code}}</td>
            <td>{{this.status}}</td>
            <td>{{this.id}}</td>
        </tr>
    {{/each}}
</table>